$bg-color: #1B1C1D;
$bg-alt-color: #232323;
$box-bg-color: lighten($bg-color, 3);
$box-border-color: lighten($bg-color, 6);
$title-color: #E3E3E3;
$text-color: #bfbfbf;
$separator-color: #2D2D2D;
$link-color: #4da2f7;
